/* You can add global styles to this file, and also import other style files */
@import "~bootswatch/dist/sandstone/bootstrap.min.css";
/* You can add global styles to this file, and also import other style files */

// @import "~bootswatch/dist/cosmo/bootstrap.min.css";
// @import "~bootswatch/dist/darkly/bootstrap.min.css";
// @import "~bootswatch/dist/flatly/bootstrap.min.css";
// @import "~bootswatch/dist/journal/bootstrap.min.css";
// @import "~bootswatch/dist/litera/bootstrap.min.css";
// @import "~bootswatch/dist/lumen/bootstrap.min.css";
// @import "~bootswatch/dist/lux/bootstrap.min.css";
// @import "~bootswatch/dist/materia/bootstrap.min.css";
// @import "~bootswatch/dist/minty/bootstrap.min.css";
// @import "~bootswatch/dist/pulse/bootstrap.min.css";
@import "~bootswatch/dist/sandstone/bootstrap.min.css";

// Or use variables, e.g.:
// $h1-font-size: 3rem;
// @import "~bootswatch/dist/[theme]/variables";
// @import "~bootstrap/scss/bootstrap";
// @import "~bootswatch/dist/[theme]/bootswatch";
/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";

// @import "~bootswatch/dist/simplex/bootstrap.min.css";
// @import "~bootswatch/dist/sketchy/bootstrap.min.css";
// @import "~bootswatch/dist/slate/bootstrap.min.css";
// @import "~bootswatch/dist/solar/bootstrap.min.css";
// @import "~bootswatch/dist/spacelab/bootstrap.min.css";
// @import "~bootswatch/dist/superhero/bootstrap.min.css";
// @import "~bootswatch/dist/united/bootstrap.min.css";
// @import "~bootswatch/dist/yeti/bootstrap.min.css";

/* Bootstrap small */
/* html {
  font-size: 14px;
} */

// for a cool purple scroll bar
body::-webkit-scrollbar {
  width: 0.4rem;
}

body::-webkit-scrollbar-track {
  background: #1e1e24;
}

body::-webkit-scrollbar-thumb {
  background: #6649b8;
}

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
