<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
</div>

<div class="modal-body">
  <h4 style="color: blue">id: {{ id }}</h4>

  <table class="table">
    <tbody>
      <tr>
        <td>Address</td>
        <td>{{ addressId }}</td>
      </tr>
      <tr>
        <td>Wei received</td>
        <td>{{ weiReceived }}</td>
      </tr>
      <tr>
        <td>Date/Time</td>
        <td>{{ onDateTime }}</td>
      </tr>
    </tbody>
  </table>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="bsModalRef.hide()">
    {{ closeBtnName }}
  </button>
</div>
